In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import time
import re

In [2]:
executable_path = {"executable_path": "./chromedriver.exe"}
browser = Browser("chrome", **executable_path)

In [3]:
#Mars News
browser.visit('https://mars.nasa.gov/news/')

In [4]:
html = browser.html
soup = bs(html, 'html.parser')

title_results = soup.find_all('div', class_='content_title')

paragraph_results = soup.find_all('div', class_='article_teaser_body')

news_title = title_results[1].text
news_p = paragraph_results[0].text

print(news_title)
print(news_p)

NASA's Perseverance Rover Mission Getting in Shape for Launch
Stacking spacecraft components on top of each other is one of the final assembly steps before a mission launches to the Red Planet.

In [22]:
#Mars Featured Image
browser.visit('https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars')

In [23]:
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(2)
browser.click_link_by_partial_text('more info')

In [24]:
html = browser.html
soup = bs(html, 'html.parser')

# Search for image source
results = soup.find_all('figure', class_='lede')
relative_img_path = results[0].a['href']
featured_img = 'https://www.jpl.nasa.gov' + relative_img_path

print(featured_img)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA12826_hires.jpg

In [44]:
#Mars Weather
browser.visit('https://twitter.com/marswxreport?lang=en')

In [45]:
html = browser.html
soup = bs(html, 'html.parser')

In [46]:
mars_weather_tweet = soup.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})
mars_weather_tweet

In [47]:
mars_weather_tweet.find("p", "tweet-text").get_text()

AttributeError: 'NoneType' object has no attribute 'find'

In [ ]:
try:
    mars_weather_tweet.find("p", "tweet-text").get_text()
except:
    pattern = re.compile(r'InSight sol')
    mars_weather = soup.find('span')

In [13]:
#Mars Fact
df = pd.read_html('https://space-facts.com/mars/',index_col=None)[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [14]:
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [15]:
mars_facts_table = [df.to_html(classes='data table table-borderless', index=False, header=False, border=0)]
mars_facts_table

['<table border="0" class="dataframe data table table-borderless">\n  <tbody>\n    <tr>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>']

In [29]:
#Mars Hemispheres
browser.visit('https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars')

In [34]:
hemisphere_image_url = []

links = browser.find_by_css("a.product-item h3")

for i in range(len(links)):
    hemisphere ={}
    
    browser.find_by_css("a.product-item h3")[i].click()
    
    sample_elem = browser.find_link_by_text('Sample').first
    hemisphere['img_url'] = sample_elem['href']
    
    hemisphere['title'] = browser.find_by_css("h2.title").text
    
    hemisphere_image_url.append(hemisphere)
    
    browser.back()
    
hemisphere_image_url

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]